/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: lightgray;
}
.nav-links li a {
    color: black;
    text-decoration: none;
}

   /* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li {
    color: black;
    padding: 5px 14px;
    border-radius: 100px;
    list-style-type: none;
}
.menu li:hover:not(.active) {
    background-color: #5a5a5a;

    border-radius: 100px;
    transform: scale(1.2,1.2);
    transition: 0.3s ease;
}
.menu li:hover:not(.active) a{
    color: white;
}
.menu li.active {
    background-color: black;
    

}
.menu li.active a {
    color: white;

}

.heada {
    padding-bottom: 25;
    font-size: 32;
    color: black;
    text-align: center;
    font-family: monospace;
    font-weight: bolder;
    background-color: lightgray;
}



